/* 
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-background {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.app-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: brown;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
} */

body {
  margin: 0;
  padding: 0;
  background:
      linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
      url('/NEWIGSLOGO.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* body {
  margin: 0;
  padding: 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url('/NEWIGSLOGO.png');
  /* background-size: 400px;
  /* control size */
  /* background-repeat: no-repeat;
  background-position: center; */
/* }   */