
 
body { 
   margin: 0;
    padding: 0; 
      background:
      linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
      url('/NEWIGSLOGO.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 background-attachment: fixed; 
}

